<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Haid</title>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type"/>
    <link href="/css/bootstrap.min.css" rel="stylesheet"/>
    <link href="/css/bootstrap-theme.min.css" rel="stylesheet"/>
    <link href="/css/text-desc.css" rel="stylesheet"/>
    <script src="/js/jquery-3.4.1.min.js"></script>
    <script src="/js/bootstrap.min.js" type="application/javascript"></script>

<body class="haid" style="background-color: #efefef">
<div th:insert="~{navigation :: nav}"></div>
<div class="container-fluid main" style="background-color: white">
    <div class="row">
        <div class="col-lg-9 col-md-12 col-sm-12 col-xs-12 ">
            <h2><span aria-hidden="true" class="glyphicon glyphicon-plus" ></span>发布</h2>
            <hr>
            <form action="/publish" method="post">
                <input type="hidden" name="id" th:value="${id}">
                <div class="form-group">
                    <label for="title">问题标题：</label>
                    <input class="form-control" th:value="${title}" id="title" name="title" placeholder="问题标题...."
                           type="text">
                </div>
                <div class="form-group">
                    <label for="description">问题补充：</label>
                    <textarea class="form-control" cols="30" th:text="${description}" id="description"
                              name="description" rows="10"></textarea>
                </div>
                <div class="form-group">
                    <label for="tag">添加标签：</label>
                    <input class="form-control" th:value="${tag}" id="tag" name="tag" placeholder="输入标签，以逗号分隔"
                           type="text">
                </div>
                <div class="container-fluid main" style="background-color: white">
                    <div class="row">
                        <div class=" col-lg-9 col-md-12 col-sm-12 col-xs-12" >
                            <div class="alert alert-danger col-lg-9 col-md-12 col-sm-12 col-xs-12"
                                 th:if="${error !=null} "
                                 th:text="${error}">

                            </div>
                        </div>
                        <div class="col-lg-3 col-md-12 col-sm-12 col-xs-12">
                            <button class="btn btn-success " style="float: right;margin-bottom: 15px" type="submit">
                                发布
                            </button>
                        </div>
                    </div>
                </div>

            </form>
        </div>
        <div class="col-lg-3 col-md-12 col-sm-12 col-xs-12">
            <h3>问题发起指南</h3>
            <p>·问题标题：标题用简练文章描述，不超过25个字</p>
            <p>·问题补充：补充内容尽量详细</p>
            <p>·选择标签：选择一个或多个合适的标签，用逗号隔开，每个标签不超过10个字</p>
        </div>
    </div>
</div>
</body>
</html>