<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Haid</title>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type"/>
    <link href="css/bootstrap.min.css" rel="stylesheet"/>
    <link href="css/bootstrap-theme.min.css" rel="stylesheet"/>
    <link href="css/community01.css" rel="stylesheet"/>
    <script src="js/bootstrap.min.js" type="application/javascript"></script>
<body style="background-color: #efefef">
<nav class="navbar navbar-default">
    <div class="container-fluid">
        <div class="navbar-header">
            <button aria-expanded="false" class="navbar-toggle collapsed" data-target="#bs-example-navbar-collapse-1"
                    data-toggle="collapse" type="button">
                <span class="sr-only">Haid社区</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">Haid社区</a>
        </div>
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <form class="navbar-form navbar-left">
                <div class="form-group">
                    <input class="form-control" placeholder="搜索" type="text">
                </div>
                <button class="btn btn-default" type="submit">点击搜索</button>
            </form>
            <ul class="nav navbar-nav navbar-right">
                <li th:if="${session.user !=null}">
                    <a href="/publish">发布</a>
                </li>
                <li class="dropdown" th:if="${session.user !=null}">
                    <a aria-expanded="false" aria-haspopup="true" class="dropdown-toggle" data-toggle="dropdown"
                       href="#"
                       role="button" th:text="${session.user.getName()}"><span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a href="#">消息中心</a></li>
                        <li><a href="#">个人中心</a></li>
                        <li><a href="#">退出登录</a></li>
                    </ul>
                </li>
                <li th:if="${session.user ==null}"><a
                        href="https://github.com/login/oauth/authorize?client_id=5b2932d4833eda58ec48&redirect_uri=http://localhost:8888/callback&scope=user&state=1">登录</a>
                </li>

            </ul>
        </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->

</nav>
<div class="container-fluid main" style="background-color: white">
    <div class="row">
        <div class="col-lg-9 col-md-12 col-sm-12 col-xs-12 ">
            <h2><span aria-hidden="true" class="glyphicon glyphicon-plus"></span>发起</h2>
            <hr>
            <form action="/publish" method="post">
                <div class="form-group">
                    <label for="title">问题标题：</label>
                    <input class="form-control" th:value="${title}" id="title" name="title" placeholder="问题标题...."
                           type="text">
                </div>
                <div class="form-group">
                    <label for="tag">问题补充：</label>
                    <textarea class="form-control" cols="30" th:value="${description}" id="description"
                              name="description" rows="10"></textarea>

                </div>
                <div class="form-group">
                    <label for="tag">添加标签：</label>
                    <input class="form-control" th:value="${tag}" id="tag" name="tag" placeholder="输入标签，以逗号分隔"
                           type="text">
                </div>
                <div class="container-fluid main" style="background-color: white">
                    <div class="row">
                        <div class="alert alert-danger col-lg-9 col-md-12 col-sm-12 col-xs-12" th:if="${error !=null} "
                             th:text="${error}"></div>
                        <div class="col-lg-3 col-md-12 col-sm-12 col-xs-12">
                            <button class="btn btn-success " style="float: right;margin-bottom: 15px" type="submit">
                                发布
                            </button>
                        </div>
                    </div>
                </div>

            </form>
        </div>
        <div class="col-lg-3 col-md-12 col-sm-12 col-xs-12">
            <h3>问题发起指南</h3>
            <p>·问题标题：标题用简练文章描述，不超过25个字</p>
            <p>·问题补充：补充内容尽量详细</p>
            <p>·选择标签：选择一个或多个合适的标签，用逗号隔开，每个标签不超过10个字</p>
        </div>
    </div>
</div>
</body>
</html>